[Unit]
Description=xphish
After=network.target
[Service]
Type=simple
WorkingDirectory=/home/{{ xphish_user }}/xphish_deploy/
ExecStart="/home/{{ xphish_user }}/xphish_deploy/xphish"
User={{ xphish_user }}
PIDFile="/home/{{ xphish_user }}/xphish_deploy/xphish.pid"
[Install]
WantedBy=multi-user.target
